body {
    background-color: #29293D	;
}

header {
    background-color: #363743;
    padding: 20px;
    text-align: right;
    border-bottom: 3px solid #29293D;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}

.container {
    padding: 20px;
    background-color:#545475;
    width: auto;
    border: 3px solid #29293D;
    border-style: dashed;
    padding-top: 100px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-style: normal;
    font-size: 2.5em;
    margin-bottom: 10px;
    color: white;
}

h2 {
    font-style: normal;
    font-size: 2.5em;
    margin-bottom: 10px;
    color: white;
}

p.apresentacao {
    text-align: right;
    font-style: normal;
    f20pxont-size: 1.2em;
    margin-bottom: ;
    color: white;
}
p {
    color: white;
    font-size: 1.2em;
    line-height: 1.6;
}

img.perfil {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #29293D;
}